#background {
  background-image: url(..//images/242556.png);
  background-repeat: no-repeat;
  background: rgba(0.3, 0.3, 0.3, 0.5);
}

.active {
  color: white;
  padding-left: 20px;
}

.navbar-right{
  padding-left: 800px;
  float: right;
}

#dice {
  padding: 50px;
}


#head-name {
  text-align: center;
}

.header {
  background-color: #fffcfc;
  background: rgba(0, 0, 0, 0.3);
  padding: 50px;
}

#player1 {
  float: left;
  padding-left: 100px;
}

#player2 {
  float: right;
  padding-right: 100px;
}

.obj {
    background-color: #f9f2f2;
    box-shadow: 5px 5px 5px #fffcfc;
    text-align: center;
    padding: 80px;
}

.roll {
  padding-left: 200px;
}

.roll2 {
  padding-left: 200px;
}
